.container {
	width: 90%;
	margin: 0 auto;
	&_main {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	&_icon {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_links {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	.container {
		&_links {
			order: 3;
		}
	}
}

@media screen and (min-width: 1440px) {
	.container {
		width: 100%;
		&_main {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: repeat(12, auto);
			grid-column-gap: 6rem;
		}
		&_icon {
			display: none;
		}
		&_recetas-main {
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: repeat(12, auto);
			grid-column-gap: 6rem;
		}
	}
}