.container {
	width: 90%;
	margin: 0 auto;
	&_page-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
	}
	&_icon {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_links {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 768px) {
	.container {
		&_links {
			order: 3;
		}
	}
}

@media screen and (min-width: 1440px) {
	.container {
		width: 1280px;
		&_page-main {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
		&_icon {
			display: none;
		}
		&_links {
			width: 100%;
		}
	}
}