/* Form */
.form {
	position: relative;
	max-width: 290px;
	color: var(--light);
	width: 100%;
	&_recipe {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__fieldset {
		border: 0;
		&_radio {
			display: flex;
		}
	}
	&__fieldset textarea {
		font-family: Inter, sans-serif;
	}
	&__personal {
		display: flex;
	}
	&__input {
		border-radius: 23px;
		border: 1px solid var(--border);
		width: 100%;
		font-size: 0.875rem;
		padding: 0.875em 1.375em;
		&_radio {
			flex-basis: 10%;
		}
	}
	&__label {
		font-size: 0.875rem;
		font-weight: 700;
		color: var(--border);
	}
	&__input_comments {
		background-color: var(--form);
		border: 1px solid var(--light);
		border-radius: 10px;
	}
	&__input:active {
		border: 1px solid var(--border);
	}
	&__submit {
		border-radius: 20px;
		border: 1px solid var(--border);
		background-color: var(--white);
		cursor: pointer;
	}
	&__submit_words {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0.875rem;
		padding: 0.875em 1.375em;
	}
	&__input-wrapper {
		margin-bottom: 1em;
		&_radio {
			display: flex;
			column-gap: 15px;
			align-items: flex-start;
		}
	}
}