/* Recipe */
.recipe {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__meta {
		font-size: calc((12/16)*1rem);
	}
	&__text {
		font-family: "RobotoCondensed", sans-serif;
	}
	&__likes {
		display: flex;
	}
	&__like,
	&__comment {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__picture {
		margin: 1em 0;
	}
	&__share {
		font-size: calc((12/16)*1rem);
		margin-bottom: 1em;
	}
	&__info {
		display: none;
	}
	&__info-wrapper {
		display: flex;
		column-gap: 1em;
	}
}

@media (min-width: 768px) {
	.recipe {
		&__share {
			align-self: flex-end;
		}
	}
}

@media (min-width: 1440px) {
	.recipe-recetas {
		&_full {
		grid-column: 1/2;
		grid-row: 2/4;
		}
	}
}