/* Title */
.title {
	&_h1 {
		display: none;
	}
	&_h2 {
		font-size: 1rem;
	}
	&_h3 {
		font-size: 1.125rem;
		margin-bottom: 1em;
		line-height: 1.5em;
	}
	&_h4 {
		font-size: 0.875rem;
	}
}

@media (min-width: 768px) {
	.title {
		&_h3 {
			font-size: 1.5rem;
		}
		&_hola {
			order: 1;
			align-self: center;
		}
	}
}

@media (min-width: 1440px) {
	.title {
		grid-column: 1/2;
		grid-row: 2/3;
		&_hola {
			align-self: flex-end;
		}
	}
}