* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	object-fit: cover;
}
li {
	list-style-type: none;
}
img {
	max-width: 100%;
}

/* Colors */
:root {
	--white: #ffffff;
	--text: #121213;
	--border: #444444;
	--green: #449205;
	--light: #a2abbd;
	--form: #f2f2f2;
}